---
---

<section class="mt-12">
    <div class="flex justify-center">
        <div class="inline-block">
            <h2 class="text-[10vw] lg:text-[8rem] text-[#231f20] font-bold uppercase text-left inline-block">Our </h2>
            <div></div>
            <h2 class="text-[10vw] lg:text-[8rem] text-[#231f20] uppercase inline-block ml-20">Projects</h2>
        </div>
        
        
    </div>
        
</section>

<style>
     
     h2{
        line-height: 1;
     }

</style>